EXAM PYTHON WEEK 1

1. Buatlah iterasi yang mencetak angka saat ini, sebelumnya dan jumlahnya, dalam rentang(10):


Angka Saat Ini 0 Angka Sebelumnya 0 Jumlah: 0

Angka Saat Ini 1 Angka Sebelumnya 0 Jumlah: 1

Angka Saat Ini 2 Angka Sebelumnya 1 Jumlah: 3

Angka Saat Ini 3 Angka Sebelumnya 2 Jumlah: 5

Angka Saat Ini 4 Angka Sebelumnya 3 Jumlah: 7

Angka Saat Ini 5 Sebelumnya Angka 4 Jumlah: 9

Angka Saat Ini 6 Angka Sebelumnya 5 Jumlah: 11

Angka Saat Ini 7 Angka Sebelumnya 6 Jumlah: 13

Angka Saat Ini 8 Angka Sebelumnya 7 Jumlah: 15

Angka Saat Ini 9 Angka Sebelumnya 8 Jumlah: 17

In [ ]:
jumlah = 0
sebelumnya = 0

for angka in range(10):
    print("Angka Saat Ini:", angka, "Angka Sebelumnya:", sebelumnya, "Jumlah:", jumlah)
    jumlah = angka + sebelumnya
    sebelumnya = angka
    jumlah += angka

Angka Saat Ini: 0 Angka Sebelumnya: 0 Jumlah: 0
Angka Saat Ini: 1 Angka Sebelumnya: 0 Jumlah: 0
Angka Saat Ini: 2 Angka Sebelumnya: 1 Jumlah: 2
Angka Saat Ini: 3 Angka Sebelumnya: 2 Jumlah: 5
Angka Saat Ini: 4 Angka Sebelumnya: 3 Jumlah: 8
Angka Saat Ini: 5 Angka Sebelumnya: 4 Jumlah: 11
Angka Saat Ini: 6 Angka Sebelumnya: 5 Jumlah: 14
Angka Saat Ini: 7 Angka Sebelumnya: 6 Jumlah: 17
Angka Saat Ini: 8 Angka Sebelumnya: 7 Jumlah: 20
Angka Saat Ini: 9 Angka Sebelumnya: 8 Jumlah: 23

2. Buatlah sebuah fungsi yang mengembalikan (return) True jika angka pertama dan terakhir dari daftar yang diberikan sama. Jika angkanya berbeda maka kembalikan (return) False.


Contoh:

x = [10, 20, 30, 40, 10]

result is True

y = [75, 65, 35, 75, 30]

result is False

In [ ]:
def check_first_last(numbers):
    if numbers[0] == numbers[-1]:
        return True
    else:
        return False

# Contoh penggunaan
x = [10, 20, 30, 40, 10]
result_x = check_first_last(x)
print("result is", result_x)

y = [75, 65, 35, 75, 30]
result_y = check_first_last(y)
print("result is", result_y)

result is True
result is False

3. Buatlah loop yang mencetak tampilan seperti di bawah ini:


1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
for i in range(1, 6):
    print((str(i) + ' ') * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

4. Buatlah loop yang mencetak tabel perkalian 1 sampai 10 sebagai berikut:



1  2 3 4 5 6 7 8 9 10                 

2  4 6 8 10 12 14 16 18 20                 

3  6 9 12 15 18 21 24 27 30                 

4  8 12 16 20 24 28 32 36 40                 

5  10 15 20 25 30 35 40 45 50                 

6  12 18 24 30 36 42 48 54 60                 

7  14 21 28 35 42 49 56 63 70                 

8  16 24 32 40 48 56 64 72 80                 

9  18 27 36 45 54 63 72 81 90                 

10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

5. Gabungkan dua dictionary di bawah menjadi satu:


dict01 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict02 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict01 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict02 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict01.update(dict02)
result = dict01

print(result)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6. Print value dari key ‘sejarah’ pada dict di bawah ini:


siswaDict = {

    "kelas": {

        "siswa": {

            "nama": "Ira",

            "nilai": {

                "matematika": 70,

                "sejarah": 80

            }

        }

    }

}


Expected output:

80

In [ ]:
siswaDict = {
    "kelas": {
        "siswa": {
            "nama": "Ira",
            "nilai": {
                "matematika": 70,
                "sejarah": 80
            }
        }
    }
}

nilai_sejarah = siswaDict['kelas']['siswa']['nilai']['sejarah']
print(nilai_sejarah)

80

7. Diberikan data berikut:


employees = ['Adi', ‘Budi’]

defaults = {"role": 'Developer', "gaji": 8000}


Expected output:


{'Adi': {'role': 'Developer', ‘gaji': 8000}, 'Budi': {'role': 'Developer', 'gaji': 8000}}

In [ ]:
employees = ['Adi', 'Budi']
defaults = {"role": 'Developer', "gaji": 8000}

result = {employee: defaults for employee in employees}

print(result)

{'Adi': {'role': 'Developer', 'gaji': 8000}, 'Budi': {'role': 'Developer', 'gaji': 8000}}

8. Tulis kode untuk memecah (unpack) tuple di bawah ini menjadi empat variabel dan tampilkan tiap variabel.


tuple1 = (10, 20, 30, 40)

# Kode Anda

# Sehingga hasilnya menjadi seperti di bawah

print(a) # should print 10

print(b) # should print 20

print(c) # should print 30

print(d) # should print 40

In [ ]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1

print(a)  # Output: 10
print(b)  # Output: 20
print(c)  # Output: 30
print(d)  # Output: 40

10
20
30
40

9. Tambahkan semua elemen dari list sample_list ke dalam set sample_set:


Given:

sample_set = {"Yellow", "Orange", "Black"}

sample_list = ["Blue", "Green", "Red"]


Expected output:

{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Blue', 'Red', 'Orange', 'Black', 'Green'}

10. Buatlah sebuah fungsi calculation() yang menerima dua parameter dan menghitung penjumlahan dan pengurangan sekaligus. Fungsi tersebut harus memberikan return penjumlahan dan pengurangan dalam sekali pemanggilan fungsi.


Given:


def calculation(a, b):

    # Code Anda


res = calculation(40, 10)

print(res)


Expected Output

50, 30

In [ ]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    return addition, subtraction

res = calculation(40, 10)
print(res)

(50, 30)