In [ ]:
#Menampilkan Drive
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier

#NOMOR 1

In [ ]:
dataset = pd.read_excel('/content/gdrive/MyDrive/Python TIA/ml-1m/Folds5x2_pp.xlsx')

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Linear Regression
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
linear_regression_predictions = linear_regression.predict(X_test)
linear_regression_mse = mean_squared_error(y_test, linear_regression_predictions)

In [ ]:
# MLPRegressor (ANN)
mlp_regressor = MLPRegressor(hidden_layer_sizes=(100, 100), max_iter=1000, random_state=42)
mlp_regressor.fit(X_train, y_train)
mlp_regressor_predictions = mlp_regressor.predict(X_test)
mlp_regressor_mse = mean_squared_error(y_test, mlp_regressor_predictions)

In [ ]:
# Print Mean Squared Error (MSE) for both models
print("Linear Regression MSE:", linear_regression_mse)
print("ANN (MLPRegressor) MSE:", mlp_regressor_mse)

Linear Regression MSE: 20.273705999687444
ANN (MLPRegressor) MSE: 22.796275445494473

#NOMOR 2

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier

In [ ]:
dataset2 = pd.read_csv('/content/gdrive/MyDrive/Python TIA/ml-1m/diabetes_prediction_dataset.csv')

In [ ]:
dataset2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [ ]:
dataset2['smoking_history'] = dataset2['smoking_history'].fillna('No Info')

In [ ]:
dataset2 = pd.get_dummies(dataset2)

In [ ]:
# Split features and target
X = dataset2.drop('diabetes', axis=1).values
y = dataset2['diabetes'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)
logistic_regression_predictions = logistic_regression.predict(X_test)
logistic_regression_accuracy = accuracy_score(y_test, logistic_regression_predictions)

# Decision Tree
decision_tree = DecisionTreeClassifier()

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# Decision Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
decision_tree_predictions = decision_tree.predict(X_test)
decision_tree_accuracy = accuracy_score(y_test, decision_tree_predictions)

In [ ]:
# Random Forest
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)
random_forest_predictions = random_forest.predict(X_test)
random_forest_accuracy = accuracy_score(y_test, random_forest_predictions)

In [ ]:
# MLPClassifier (ANN)
mlp_classifier = MLPClassifier(hidden_layer_sizes=(100, 100), max_iter=1000, random_state=42)
mlp_classifier.fit(X_train, y_train)
mlp_classifier_predictions = mlp_classifier.predict(X_test)
mlp_classifier_accuracy = accuracy_score(y_test, mlp_classifier_predictions)

# Print accuracy for all models

In [ ]:
# Print accuracy for all models
print("Logistic Regression Accuracy:", logistic_regression_accuracy)
print("Decision Tree Accuracy:", decision_tree_accuracy)
print("Random Forest Accuracy:", random_forest_accuracy)
print("ANN (MLPClassifier) Accuracy:", mlp_classifier_accuracy)